.redtape {
  --tab_unlocked: 0;
  --color1: #be2c2c;
  --color6: #be2c2c;
  --color2: #ead4d4;


  --text1: "VCR";
  --text1_color: #ead4d4;
  --text1_size: 10px;

  --text2: "CASSETTE";
  --text2_color: #be2c2c;
  --text2_size: 8px;

  --text6: "HI-DEF";
  --text6_color: #ead4d4;
  --text6_size: 11px;
}
