.redtape {
  --tab_unlocked: 0;
  --color1: #be2c2c;
  --color6: #be2c2c;
  --color2: #ead4d4;


  --text1: "VCR";
  --text1_color: #ead4d4;
  --text1_size: 10px;

  --text2: "CASSETTE";
  --text2_color: #be2c2c;
  --text2_size: 8px;

  --text6: "HI-DEF";
  --text6_color: #ead4d4;
  --text6_size: 11px;
}

.bluetape {
  --tab_unlocked: 1;
  --color1: #422cbe;
  --color6: #2c2fbe;
  --color2: #422cbe;


  --text1: "VCR";
  --text1_color: #ead4d4;
  --text1_size: 16px;



  --text6: "HI-DEF";
  --text6_color: #ead4d4;
  --text6_size: 11px;
}

.notebook2 {
  --notebook-color: #6b4b5b;
  --label-color: #4c9262;
}

.cd2 {
  --label-color: #4c9262;
  --color1: #422cbe;
  --color1: #422cbe;


  --text1: "CD";
  --text1_color: #ead4d4;
  --text1_size: 16px;

  --text2: "CD";
  --text2_color: #ead4d4;
  --text2_size: 16px;

}
